.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container label {
  font-weight: 700;
  font-size: 1.05rem;
  color: #edf7eb;

}

.container input {
  border-radius: 5px;
  border: 1px solid #161111;
  outline: none;
  padding: 10px 15px;
  color: #000;
}

.container input:hover {
  border-color: #dad0d0;
}

.container input:focus {
  border-color: #1f3120;
}
